@model object

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <div>
        <h1>Get OAuth Code</h1>
        <button onclick="GetOAuthCode('Google')">Google</button>
        <button onclick="GetOAuthCode('Facebook')">Facebook</button>
    </div>
    
    <div>
        <h1>Sign-in via OAuth</h1>
        <button onclick="SignInVia('Google')">Google</button>
        <button onclick="SignInVia('Facebook')">Facebook</button>
    </div>
    
    

</div>
<script>
    function GetOAuthCode(provider) {
        window.removeEventListener("message", this.oAuthCodeReceived, false);
        window.addEventListener("message", this.oAuthCodeReceived, false);
        
        window.open(`${window.location.protocol}//${window.location.hostname}:${window.location.port}/external-auth/challenge?provider=${provider}`, undefined, 'width=800,height=600');
    }
    
    function externalAuthSuccess(provider, code) {
        alert(`Provider: ${provider}, code: ${code}`);
    }
    function externalAuthError(provider, error, errorDescription) {
        alert(`Provider: ${provider}, error: ${error}, ${errorDescription}`);
    }
    
    function oAuthCodeReceived(message) {
        if (message.data) {
            let data = JSON.parse(message.data);
            if (data.type === 'oauth-result') {
                if (data.code) {
                    externalAuthSuccess(data.provider, data.code);
                } else {
                    externalAuthError(data.provider, data.error, data.errorDescription);
                }
            }
        }
    }
    
    function SignInVia(provider) {
        alert('signin');
    }
    
</script>
</body>
</html>